/* PromptOptimizerContainer layout variables
 *
 * Keep page layout widths scoped here (NOT in :root) to avoid vw-based "floating" layouts.
 */
.prompt-optimizer-shell {
  --po-suggestions-width: 420px;
}

@media (max-width: 1023px) {
  .prompt-optimizer-shell {
    --po-suggestions-width: 0px;
  }

  .prompt-optimizer-shell__suggestions {
    display: none;
  }
}


